.Search {
  width: 30%;
  height: 32px;
  margin-left: 26.5%;
  padding-bottom: 10px;
  padding-top: 0px;
  float: left;
}
.cover {
  /* background: white; */
  padding: 0;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(95, 3, 3, 0.2);
  margin: 16px 28px 16px 40px;
  float: left;
}
.global-search-wrapper {
  padding-right: 50px;
}

.global-search {
  width: 100%;
}

.global-search.ant-select-auto-complete .ant-select-selection--single {
  margin-right: -46px;
}

.global-search.ant-select-auto-complete
  .ant-input-affix-wrapper
  .ant-input:not(:last-child) {
  padding-right: 62px;
}

.global-search.ant-select-auto-complete
  .ant-input-affix-wrapper
  .ant-input-suffix
  button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.global-search-item {
  display: flex;
}

.global-search-item-desc {
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
